<div>
  <div class="modal-header">
    <h2 class="modal-title">
      <input placeholder="Nom du modèle" ng-model='tpl.name'>
    </h2>
  </div>
  <div class="modal-body" id='modal-body' style='text-align: left'>
    <div>
      <div>
        <h4>Type de machine</h4>
        <div>
          <label>
            <input type="radio" ng-model="tpl.machineType" value="windows"> Windows Server 2016
          </label><br>
          <label>
            <input type="radio" ng-model="tpl.machineType" value="ubuntu-16.10"> Linux Ubuntu 16.10
          </label><br>
          <!--<label>
            <input type="radio" ng-model="tpl.machineType" value="debian-8"> Linux Debian 8 (Jessy)
            </label>-->
        </div>
      </div>
      <div ng-show="tpl.machineType!=''&&tpl.machineType!=='windows'">
        <h4>Utilisation de la machine</h4>
        <div>
          <label>
            <input type="radio" ng-model='tpl.ui' value='console'> Terminal (ligne de commande)
          </label><br>
          <label>
            <input type="radio" ng-model='tpl.ui' value='graphical'> Interface graphique
          </label>
        </div>
      </div>
      <div>
        <h4>Logiciels à installer</h4>
        <div ng-show="tpl.machineType!=''&&tpl.machineType!=='windows'">
          <div ng-repeat='package in packagesLinux'>
            <label uib-tooltip='{{package.command}}'>
            <input type="checkbox" value='{{package.name}}' ng-model='package.selected' ng-click='editPkgs()'>
            {{package.name}}
          </label>
          </div>
        </div>
      </div>
      <div>
        <h4>Script de démarrage</h4>
        <p>Entrez les commandes que vous souhaitez exécuter à l'installation de la machine.<br>
        Ex: apt-get install
        </p>
        <ul>
          <li ng-repeat="pkg in tpl.packages">{{pkg.command}}</li>
        </ul>
        <textarea style="width: 100%" ng-model='tpl.commands'></textarea>
      </div>
      <div>
        <h4>Fichiers à récupérer en fin de séance</h4>
        <ul>
          <li ng-repeat="path in tpl.pathes">{{path}} <i class="glyphicon glyphicon-pencil"></i></li>
          <li>
            <input type="text" ng-model='newPath' ng-keyup="$event.keyCode == 13 && addPath()">
            <button class='btn btn-success' ng-click='addPath()'>Valider</button>
            <span ng-if='pathError'>{{pathError}}</span>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="alert alert-danger" role="alert" ng-if="edit && editError.length > 0" style="margin: 0">
      <ul>
        <li ng-repeat="error in editError">{{ error }}</li>
      </ul>
    </div>

    <div class="alert alert-warning" role="alert" ng-if="edit && editWarning.length > 0">
        <ul>
            <li ng-repeat="warning in editWarning">{{ warning }}</li>
        </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Abandonner</button>
    <button class="btn btn-primary" ng-disabled="!canSaveEdit()"
      ng-click="ok()">Sauvegarder</button>
  </div> 
</div>
