<nav id="upperbar">
    <div class="general-menu">
        <a href="/#/main/overview" class="item accueil"><span>Accueil</span></a>
        <a ui-sref="main.labs()" class="item projects" ng-class="{'selected': view=='labs'}"><span>Calendrier</span></a>

    </div>
    <div class="userinfo">
        <div class="inner">
            <img class="pic" src="/img/user_placeholder.png"/>
            <div class="text text-lg">
                <div>BONJOUR, <strong>{{user.firstname}} {{user.lastname}}</strong></div>
                <span class="role">UTILISATEUR</span>
            </div>
            <div class="text text-sm">
                <div>Hi, <strong>{{user.firstname}}</strong></div>
                <span class="role">UTILISATEUR</span>
            </div>
        </div>
        <button class="logout" ng-click="$parent.logout()">
        </button>
    </div>

</nav>
<section ui-view></section>
<div id='dragElem' style='z-index: 10000'></div>
